@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
html { scroll-behavior: smooth; }
body {
  background-color: #101d11;
  color: #fff;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .glass-card{
    position:relative;
    overflow:visible;

    width:100%;
    min-height: 30px;

    border-radius:60px;

    background: linear-gradient(
    135deg,
    rgba(255,255,255,.08),
    rgba(255,255,255,.02) 30%,
    rgba(20,30,20,.25) 70%,
    rgba(10,18,10,.35)
  );

    backdrop-filter:blur(30px);

    border: 1px solid rgba(255,255,255,.18);

   box-shadow:
    0 20px 45px rgba(0,0,0,.28),
    inset 0 1px rgba(255,255,255,.12);

    isolation:isolate;
    -webkit-backdrop-filter:blur(22px);
}

  .glass-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    background: linear-gradient(
      135deg,
      rgba(255,255,255,.12),
      transparent 55%
    );

    pointer-events: none;
  }

  @media (max-width: 640px) {
    .glass-card {
      min-height: 320px;
      padding: 70px 18px 18px;
      border-radius: 40px;
    }
  }
}
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #101d11; }
::-webkit-scrollbar-thumb { background: rgba(74,124,63,0.45); border-radius: 4px; }
